<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Application -->
    <preference for="Illuminate\Console\Application" type="Maginium\Framework\Application\Application" />
    <preference for="Maginium\Framework\Application\Interfaces\ApplicationInterface" type="Maginium\Framework\Application\Application" />

    <!-- Support and Utilities -->
    <preference for="Magento\Framework\DataObject" type="Maginium\Framework\Support\DataObject" />

    <!-- Custom implementation for Url Manager -->
    <preference for="Maginium\Framework\Url\Interfaces\UrlInterface" type="Maginium\Framework\Url\UrlManager" />

    <!-- Custom implementation for Uuid management -->
    <preference for="Maginium\Framework\Uuid\Interfaces\UuidInterface" type="Maginium\Framework\Uuid\UuidManager" />

    <!-- Resizer functionality for managing image resizing -->
    <preference for="Maginium\Framework\Resize\Interfaces\ResizerInterface" type="Maginium\Framework\Resize\Resizer" />

    <!-- Deferred processing management -->
    <preference for="Maginium\Framework\Defer\Interfaces\DeferInterface" type="Maginium\Framework\Defer\DeferManager" />

    <!-- Component registration customization -->
    <preference for="Magento\Framework\Component\ComponentRegistrar" type="Maginium\Framework\Component\ComponentRegistrar" />

    <!-- Custom implementation for Color Thief -->
    <preference for="Maginium\Framework\ColorThief\Interfaces\ColorThiefInterface" type="Maginium\Framework\ColorThief\ColorThief" />

    <!-- Custom implementation for Figlet -->
    <preference for="Maginium\Framework\Figlet\Interfaces\FontInterface" type="Maginium\Framework\Figlet\Models\Font" />
    <preference for="Maginium\Framework\Figlet\Interfaces\FigletInterface" type="Maginium\Framework\Figlet\FigletManager" />

    <!-- Custom implementation for prompt management -->
    <preference for="Maginium\Framework\Prompts\Interfaces\PromptsInterface" type="Maginium\Framework\Prompts\PromptsManager" />

    <!-- Dependency container manager -->
    <preference for="Illuminate\Container\Container" type="Maginium\Framework\Container\ContainerManager" />
    <preference for="Illuminate\Contracts\Container\Container" type="Maginium\Framework\Container\Interfaces\ContainerInterface" />
    <preference for="Maginium\Framework\Container\Interfaces\ContainerInterface" type="Maginium\Framework\Container\ContainerManager" />

    <!-- Locale Management -->
    <preference for="Maginium\Framework\Locale\Interfaces\LocaleInterface" type="Maginium\Framework\Locale\LocaleManager" />
    <preference for="Maginium\Framework\Locale\Interfaces\TranslationInterface" type="Maginium\Framework\Locale\TranslatorManager" />

    <!-- Cache and Redis -->
    <!-- <preference for="Magento\Framework\App\CacheInterface" type="Maginium\Framework\Cache\CacheManager\Proxy" /> -->
    <preference for="Illuminate\Contracts\Cache\Repository" type="Maginium\Framework\Cache\Repository" />
    <preference for="Magento\Framework\Cache\FrontendInterface" type="Maginium\Framework\Cache\CacheManager" />
    <preference for="Illuminate\Contracts\Cache\Factory" type="Maginium\Framework\Cache\Interfaces\FactoryInterface" />
    <preference for="Maginium\Framework\Redis\Interfaces\RedisInterface" type="Maginium\Framework\Redis\RedisManager" />
    <preference for="Maginium\Framework\Cache\Interfaces\FactoryInterface" type="Maginium\Framework\Cache\CacheManager" />

    <!-- Media and Filesystem -->
    <preference for="Maginium\Framework\Media\Interfaces\MediaInterface" type="Maginium\Framework\Media\MediaManager" />
    <preference for="Maginium\Framework\Filesystem\Interfaces\FilesystemInterface" type="Maginium\Framework\Filesystem\Filesystem" />
    <preference for="Maginium\Framework\Filesystem\Interfaces\FactoryInterface" type="Maginium\Framework\Filesystem\FilesystemManager" />

    <!-- Serialization -->
    <preference for="Maginium\Framework\Serializer\Interfaces\JsonInterface" type="Maginium\Framework\Serializer\Json" />
    <preference for="Maginium\Framework\Serializer\Interfaces\SerializerInterface" type="Maginium\Framework\Serializer\Serializer" />
    <preference
        for="Maginium\Framework\Serializer\Interfaces\SerializableClosureInterface"
        type="Maginium\Framework\Serializer\SerializableClosure"
    />

    <!-- Token & Api Key -->
    <preference for="Maginium\Framework\Token\Interfaces\ApiKeyServiceInterface" type="Maginium\Framework\Token\Services\ApiKeyService" />
    <preference for="Maginium\Framework\Token\Interfaces\AdminTokenServiceInterface" type="Maginium\Framework\Token\Services\AdminTokenService" />
    <preference
        for="Maginium\Framework\Token\Interfaces\CustomerTokenServiceInterface"
        type="Maginium\Framework\Token\Services\CustomerTokenService"
    />

    <!-- Elasticsearch -->
    <preference for="Maginium\Framework\Elasticsearch\Interfaces\ClientInterface" type="Maginium\Framework\Elasticsearch\Client" />
    <preference for="Maginium\Framework\Elasticsearch\Interfaces\IndexInterface" type="Maginium\Framework\Elasticsearch\Entities\Index" />

    <!-- Avatar -->
    <preference for="Maginium\Framework\Avatar\Interfaces\AvatarInterface" type="Maginium\Framework\Avatar\Avatar" />
    <preference for="Maginium\Framework\Avatar\Interfaces\GeneratorInterface" type="Maginium\Framework\Avatar\Generator\DefaultGenerator" />

    <!-- Cors -->
    <preference for="Maginium\Framework\Cors\Interfaces\CorsCheckInterface" type="Maginium\Framework\Cors\Actions\CorsCheck" />
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="cors_headers" type="Maginium\Framework\Cors\Interceptors\CorsHeaders" />
    </type>
    <type name="Magento\Framework\Webapi\Rest\Request">
        <plugin name="cors_request_options" type="Maginium\Framework\Cors\Interceptors\CorsRequestOptions" />
    </type>
    <type name="Magento\Webapi\Controller\Rest\Router">
        <plugin name="cors_request_match" type="Maginium\Framework\Cors\Interceptors\CorsRequestMatch" />
    </type>

    <!-- Database and CRUD -->
    <preference for="Magento\Framework\EntityManager\EntityManager" type="Maginium\Framework\Database\EntityManager" />
    <preference for="Maginium\Framework\Database\Interfaces\ConnectionInterface" type="Maginium\Framework\Database\Connections\Connection" />
    <preference for="Magento\Framework\Setup\Patch\PatchApplier" type="Maginium\Framework\Database\Interceptors\Framework\Setup\Patch\PatchApplier" />

    <!-- Log Module -->
    <preference for="Maginium\Framework\Log\Interfaces\LoggerInterface" type="Maginium\Framework\Log\Logger" />
    <preference for="Maginium\Framework\Log\Interfaces\FactoryInterface" type="Maginium\Framework\Log\LogManager" />

    <!-- Configure the custom Log class with its corresponding handlers. -->
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument xsi:type="array" name="handlers">
                <!-- File Handlers -->
                <item xsi:type="object" name="info">Maginium\Framework\Log\Handlers\File\Info</item>
                <item xsi:type="object" name="alert">Maginium\Framework\Log\Handlers\File\Alert</item>
                <item xsi:type="object" name="debug">Maginium\Framework\Log\Handlers\File\Debug</item>
                <item xsi:type="object" name="error">Maginium\Framework\Log\Handlers\File\Error</item>
                <item xsi:type="object" name="notice">Maginium\Framework\Log\Handlers\File\Notice</item>
                <item xsi:type="object" name="warning">Maginium\Framework\Log\Handlers\File\Warning</item>
                <item xsi:type="object" name="critical">Maginium\Framework\Log\Handlers\File\Critical</item>
                <item xsi:type="object" name="emergency">Maginium\Framework\Log\Handlers\File\Emergency</item>
            </argument>
        </arguments>
    </type>

    <!-- Requests -->
    <preference for="Magento\Framework\App\Request\Http" type="Maginium\Framework\Request\Request" />
    <preference for="Maginium\Framework\Request\Interfaces\RequestInterface" type="Maginium\Framework\Request\Request" />

    <!-- Response -->
    <preference for="Magento\Framework\App\Response\Http" type="Maginium\Framework\Response\Response" />
    <preference for="Maginium\Framework\Response\Interfaces\ResponseInterface" type="Maginium\Framework\Response\Response" />
    <preference for="Maginium\Framework\Response\Interfaces\Data\ResponseInterface" type="Maginium\Framework\Response\Models\Response" />
    <!-- <preference for="Magento\Framework\Webapi\Rest\Response" type="Maginium\Framework\Response\Interceptors\Framework\Webapi\ErrorHandler" /> -->

    <type name="Magento\Webapi\Controller\Rest">
        <!-- Request Middleware -->
        <plugin disabled="false" name="request_user_middleware" sortOrder="100" type="Maginium\Framework\Request\Middlewares\User" />
        <plugin disabled="false" name="request_store_id_middleware" sortOrder="80" type="Maginium\Framework\Request\Middlewares\StoreId" />
        <plugin disabled="false" name="request_currency_middleware" sortOrder="90" type="Maginium\Framework\Request\Middlewares\Currency" />
        <plugin disabled="false" name="request_timezone_middleware" sortOrder="50" type="Maginium\Framework\Request\Middlewares\Timezone" />
        <plugin disabled="false" name="request_language_middleware" sortOrder="20" type="Maginium\Framework\Request\Middlewares\Language" />
        <plugin disabled="false" name="request_timestamp_middleware" sortOrder="40" type="Maginium\Framework\Request\Middlewares\Timestamp" />
        <plugin disabled="false" name="request_snake_case_middleware" sortOrder="0" type="Maginium\Framework\Request\Middlewares\SnakeCase" />
        <plugin disabled="false" name="request_request_id_middleware" sortOrder="30" type="Maginium\Framework\Request\Middlewares\RequestId" />
        <plugin disabled="false" name="request_user_agent_middleware" sortOrder="60" type="Maginium\Framework\Request\Middlewares\UserAgent" />
        <plugin disabled="false" name="request_store_code_middleware" sortOrder="70" type="Maginium\Framework\Request\Middlewares\StoreCode" />
        <plugin disabled="false" name="request_metadata_middleware" sortOrder="10" type="Maginium\Framework\Request\Middlewares\RequestMetadata" />

        <!-- Response Middleware -->
        <plugin disabled="false" name="response_store_id_middleware" sortOrder="80" type="Maginium\Framework\Response\Middlewares\StoreId" />
        <plugin disabled="false" name="response_language_middleware" sortOrder="20" type="Maginium\Framework\Response\Middlewares\Language" />
        <plugin disabled="false" name="response_timezone_middleware" sortOrder="50" type="Maginium\Framework\Response\Middlewares\Timezone" />
        <plugin disabled="false" name="response_currency_middleware" sortOrder="90" type="Maginium\Framework\Response\Middlewares\Currency" />
        <plugin disabled="false" name="response_timestamp_middleware" sortOrder="40" type="Maginium\Framework\Response\Middlewares\Timestamp" />
        <plugin disabled="false" name="response_powered_by_middleware" sortOrder="10" type="Maginium\Framework\Response\Middlewares\PoweredBy" />
        <plugin disabled="false" name="response_request_id_middleware" sortOrder="30" type="Maginium\Framework\Response\Middlewares\RequestId" />
        <plugin disabled="false" name="response_store_code_middleware" sortOrder="70" type="Maginium\Framework\Response\Middlewares\StoreCode" />
        <plugin disabled="false" name="response_camel_case_middleware" sortOrder="20" type="Maginium\Framework\Response\Middlewares\CamelCase" />
        <plugin
            disabled="false"
            name="response_transformer_middleware"
            sortOrder="998"
            type="Maginium\Framework\Response\Middlewares\TransformResponse"
        />
    </type>

    <!-- Event and Message Queue -->
    <preference for="Maginium\Framework\Event\Interfaces\EventInterface" type="Maginium\Framework\Event\EventManager" />
    <preference for="Magento\Framework\MessageQueue\Publisher" type="Maginium\Framework\MessageQueue\PublisherManager" />
    <preference for="Maginium\Framework\MessageQueue\Interfaces\PublisherInterface" type="Maginium\Framework\MessageQueue\PublisherManager" />
    <preference
        for="Magento\Framework\Communication\Config\Reader\XmlReader\Converter"
        type="Maginium\Framework\MessageQueue\Models\Config\XmlReader\Converter"
    />

    <!-- Config Module -->
    <preference for="Maginium\Framework\Config\Interfaces\ConfigInterface" type="Maginium\Framework\Config\Config" />
    <preference for="Maginium\Framework\Config\Interfaces\FactoryInterface" type="Maginium\Framework\Config\ConfigManager" />

    <!-- Pagination -->
    <preference for="Maginium\Framework\Pagination\Interfaces\CursorInterface" type="Maginium\Framework\Pagination\Cursor" />
    <preference for="Maginium\Framework\Pagination\Interfaces\PaginatorInterface" type="Maginium\Framework\Pagination\Paginator" />
    <preference for="Maginium\Framework\Pagination\Interfaces\CursorPaginatorInterface" type="Maginium\Framework\Pagination\CursorPaginator" />
    <preference
        for="Maginium\Framework\Pagination\Interfaces\LengthAwarePaginatorInterface"
        type="Maginium\Framework\Pagination\LengthAwarePaginator"
    />
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="pagination_state_plugin" type="Maginium\Framework\Pagination\Middlewares\SetPaginationState" />
    </type>

    <!-- Swagger -->
    <preference for="Magento\Swagger\Block\Index" type="Maginium\Framework\Swagger\Blocks\Index" />
    <preference for="Magento\Webapi\Model\Rest\Swagger" type="Maginium\Framework\Swagger\Models\Rest\Swagger" />
    <preference for="Magento\Webapi\Model\ServiceMetadata" type="Maginium\Framework\Swagger\Interceptors\Webapi\ServiceMetadata" />
    <preference for="Magento\Webapi\Model\Rest\Swagger\Generator" type="Maginium\Framework\Swagger\Models\Rest\Swagger\Generator" />
    <type name="Magento\Swagger\Model\Config">
        <plugin disabled="false" name="allow_swagger_dev" type="Maginium\Framework\Swagger\Interceptors\SwaggerConfig" />
    </type>

    <!-- Firestore -->
    <preference for="Maginium\Framework\Firestore\Interfaces\ClientInterface" type="Maginium\Framework\Firestore\Client" />
    <preference for="Maginium\Framework\Firestore\Interfaces\FirestoreInterface" type="Maginium\Framework\Firestore\FirestoreManager" />

    <!-- Pusher -->
    <preference for="Maginium\Framework\Pusher\Interfaces\ClientInterface" type="Maginium\Framework\Pusher\Client" />
    <preference for="Maginium\Framework\Pusher\Interfaces\PusherInterface" type="Maginium\Framework\Pusher\PusherManager" />

    <!-- Mail -->
    <preference for="Magento\Framework\Mail\EmailMessage" type="Maginium\Framework\Mail\Models\EmailMessage" />
    <preference for="Maginium\Framework\Mail\Interfaces\RendererInterface" type="Maginium\Framework\Mail\Renderer" />
    <preference for="Maginium\Framework\Mail\Interfaces\MailableInterface" type="Maginium\Framework\Mail\Mailable" />
    <preference for="Magento\Framework\Mail\MessageInterface" type="Maginium\Framework\Mail\Interfaces\MessageInterface" />
    <preference for="Maginium\Framework\Mail\Interfaces\Data\HeaderInterface" type="Maginium\Framework\Mail\Models\Header" />
    <preference for="Maginium\Framework\Mail\Interfaces\Data\AddressInterface" type="Maginium\Framework\Mail\Models\Address" />
    <preference for="Maginium\Framework\Mail\Interfaces\Data\MetadataInterface" type="Maginium\Framework\Mail\Models\Metadata" />
    <preference for="Maginium\Framework\Mail\Interfaces\Data\EnvelopeInterface" type="Maginium\Framework\Mail\Models\Envelope" />
    <preference for="Maginium\Framework\Mail\Interfaces\Data\AttachmentInterface" type="Maginium\Framework\Mail\Models\Attachment" />
    <preference for="Magento\Framework\App\TemplateTypesInterface" type="Maginium\Framework\Mail\Interfaces\TemplateTypesInterface" />
    <preference for="Maginium\Framework\Mail\Interfaces\Data\TemplateDataInterface" type="Maginium\Framework\Mail\Models\TemplateData" />
    <preference for="Maginium\Framework\Mail\Interfaces\Data\EmailMessageInterface" type="Maginium\Framework\Mail\Models\EmailMessage" />
    <preference for="Magento\Framework\Mail\EmailMessageInterface" type="Maginium\Framework\Mail\Interfaces\Data\EmailMessageInterface" />
    <preference for="Maginium\Framework\Mail\Interfaces\TransportBuilderInterface" type="Maginium\Framework\Mail\Models\TransportBuilder" />
    <preference for="Magento\Email\Model\Template\Config\SchemaLocator" type="Maginium\Framework\Mail\Models\Template\Config\SchemaLocator" />
    <preference
        for="Magento\Email\Block\Adminhtml\Template\Grid\Filter\Type"
        type="Maginium\Framework\Mail\Block\Adminhtml\Template\Grid\Filter\Type"
    />
    <preference
        for="Magento\Email\Block\Adminhtml\Template\Grid\Renderer\Type"
        type="Maginium\Framework\Mail\Block\Adminhtml\Template\Grid\Renderer\Type"
    />
    <type name="Magento\Config\Model\Config\Source\Email\Template">
        <plugin
            disabled="false"
            name="email_template_config"
            sortOrder="20"
            type="Maginium\Framework\Mail\Interceptors\Framework\Mail\Model\Config\Source\Template"
        />
    </type>
    <type name="Magento\Email\Model\Template\Filter">
        <plugin name="template_filter_interceptor" sortOrder="10" type="Maginium\Framework\Mail\Interceptors\Model\Template\Filter" />
    </type>
    <type name="Magento\Email\Model\AbstractTemplate">
        <plugin name="abstract_template_interceptor" sortOrder="10" type="Maginium\Framework\Mail\Interceptors\Model\AbstractTemplate" />
    </type>

    <!-- Console -->
    <preference for="Illuminate\Console\Command" type="Maginium\Framework\Console\Command" />
    <preference for="Illuminate\Console\CommandMutex" type="Illuminate\Console\CacheCommandMutex" />
    <preference for="Illuminate\Console\Scheduling\Schedule" type="Maginium\Framework\Console\Scheduling\Schedule" />
    <preference for="Illuminate\Console\Scheduling\EventMutex" type="Illuminate\Console\Scheduling\CacheEventMutex" />
    <preference for="Illuminate\Console\Scheduling\SchedulingMutex" type="Illuminate\Console\Scheduling\CacheSchedulingMutex" />
    <preference for="Maginium\Framework\Console\Interfaces\ScheduleInterface" type="Maginium\Framework\Console\Scheduling\Schedule" />
    <preference for="Maginium\Framework\Console\Interfaces\EventMutexInterface" type="Maginium\Framework\Console\Scheduling\CacheEventMutex" />

    <!-- Commands Plugin Configuration -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument xsi:type="array" name="commands">
                <!-- Register the custom command for invoking serialized closures. -->
                <item
                    xsi:type="object"
                    name="invoke_serialized_closure_command"
                >Maginium\Framework\Concurrency\Commands\InvokeSerializedClosureCommand</item>

                <!-- General -->
                <item xsi:type="object" name="app_about_command">Maginium\Framework\Console\Commands\AboutCommand</item>
                <item xsi:type="object" name="app_list_commands_command">Maginium\Framework\Console\Commands\ListCommandsCommand</item>
                <item xsi:type="object" name="app_static_deploy_command">Maginium\Framework\Console\Commands\StaticDeployCommand</item>

                <!-- Make -->
                <item xsi:type="object" name="make_command">Maginium\Framework\Console\Commands\Make\Command</item>
                <item xsi:type="object" name="make_dto_command">Maginium\Framework\Console\Commands\Make\DtoCommand</item>
                <item xsi:type="object" name="make_job_command">Maginium\Framework\Console\Commands\Make\JobCommand</item>
                <item xsi:type="object" name="make_enum_command">Maginium\Framework\Console\Commands\Make\EnumCommand</item>
                <item xsi:type="object" name="make_model_command">Maginium\Framework\Console\Commands\Make\ModelCommand</item>
                <item xsi:type="object" name="make_queue_command">Maginium\Framework\Console\Commands\Make\QueueCommand</item>
                <item xsi:type="object" name="make_block_command">Maginium\Framework\Console\Commands\Make\BlockCommand</item>
                <item xsi:type="object" name="make_action_command">Maginium\Framework\Console\Commands\Make\ActionCommand</item>
                <item xsi:type="object" name="make_seeder_command">Maginium\Framework\Console\Commands\Make\SeederCommand</item>
                <item xsi:type="object" name="make_module_command">Maginium\Framework\Console\Commands\Make\ModuleCommand</item>
                <item xsi:type="object" name="make_service_command">Maginium\Framework\Console\Commands\Make\ServiceCommand</item>
                <item xsi:type="object" name="make_factory_command">Maginium\Framework\Console\Commands\Make\FactoryCommand</item>
                <item xsi:type="object" name="make_migration_command">Maginium\Framework\Console\Commands\Make\MigrationCommand</item>
                <item xsi:type="object" name="make_middleware_command">Maginium\Framework\Console\Commands\Make\MiddlewareCommand</item>
                <item xsi:type="object" name="make_controller_command">Maginium\Framework\Console\Commands\Make\ControllerCommand</item>
                <item xsi:type="object" name="make_repository_command">Maginium\Framework\Console\Commands\Make\RepositoryCommand</item>
                <item xsi:type="object" name="make_interceptor_command">Maginium\Framework\Console\Commands\Make\InterceptorCommand</item>
                <item xsi:type="object" name="make_elastic_model_command">Maginium\Framework\Console\Commands\Make\ElasticModelCommand</item>
                <item xsi:type="object" name="make_admin_controller_command">Maginium\Framework\Console\Commands\Make\AdminControllerCommand</item>

                <!-- Database -->
                <item xsi:type="object" name="db_seed_command">Maginium\Framework\Console\Commands\SeedCommand</item>
                <item xsi:type="object" name="db_migrate_command">Maginium\Framework\Console\Commands\MigrateCommand</item>

                <!-- Cache -->
                <item xsi:type="object" name="cache_clear_command">Maginium\Framework\Console\Commands\Cache\CleanCommand</item>
                <item xsi:type="object" name="cache_flush_command">Maginium\Framework\Console\Commands\Cache\FlushCommand</item>

                <!-- Module -->
                <item xsi:type="object" name="app_list_modules_command">Maginium\Framework\Component\Commands\ListModulesCommand</item>
                <item xsi:type="object" name="app_enable_modules_command">Maginium\Framework\Component\Commands\DisableModuleCommand</item>
                <item xsi:type="object" name="app_disable_modules_command">Maginium\Framework\Component\Commands\EnableModuleCommand</item>

                <!-- Console Scheduler -->
                <item xsi:type="object" name="schedule_run_command">Maginium\Framework\Console\Commands\Schedule\ScheduleRunCommand</item>
                <item xsi:type="object" name="schedule_test_command">Maginium\Framework\Console\Commands\Schedule\ScheduleTestCommand</item>
                <item xsi:type="object" name="schedule_work_command">Maginium\Framework\Console\Commands\Schedule\ScheduleWorkCommand</item>
                <item xsi:type="object" name="schedule_list_command">Maginium\Framework\Console\Commands\Schedule\ScheduleListCommand</item>
                <item xsi:type="object" name="schedule_finish_command">Maginium\Framework\Console\Commands\Schedule\ScheduleFinishCommand</item>
                <item xsi:type="object" name="schedule_interrupt_command">Maginium\Framework\Console\Commands\Schedule\ScheduleInterruptCommand</item>
                <item
                    xsi:type="object"
                    name="schedule_clear_cache_command"
                >Maginium\Framework\Console\Commands\Schedule\ScheduleClearCacheCommand</item>

                <!-- Email -->
                <item xsi:type="object" name="react_email_serve">Maginium\Framework\Mail\Commands\ReactEmailBuild</item>
            </argument>
        </arguments>
    </type>

    <!-- Configure providers for the ServiceProvider Registry -->
    <type name="Maginium\Framework\Application\ServiceProvider\Registry">
        <arguments>
            <!-- List of service providers to be registered -->
            <argument xsi:type="array" name="providers">
                <!-- Env Config service provider -->
                <item xsi:type="object" name="env_config_service_provider">Maginium\Framework\Config\Providers\ConfigServiceProvider</item>

                <!-- Eloquent service provider -->
                <item xsi:type="object" name="eloquent_service_provider">Maginium\Framework\Database\Providers\DatabaseServiceProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Configure providers for the ServiceProvider Registry -->
    <type name="Maginium\Framework\Crud\Filters\FilterList">
        <arguments>
            <!-- List of service providers to be registered -->
            <argument xsi:type="array" name="filters">
                <item xsi:type="object" name="in_filter">Maginium\Framework\Crud\Filters\Strategies\InFilter</item>
                <item xsi:type="object" name="or_filter">Maginium\Framework\Crud\Filters\Strategies\OrFilter</item>
                <item xsi:type="object" name="and_filter">Maginium\Framework\Crud\Filters\Strategies\AndFilter</item>
                <item xsi:type="object" name="null_filter">Maginium\Framework\Crud\Filters\Strategies\NullFilter</item>
                <item xsi:type="object" name="equal_filter">Maginium\Framework\Crud\Filters\Strategies\EqualFilter</item>
                <item xsi:type="object" name="not_in_filter">Maginium\Framework\Crud\Filters\Strategies\NotInFilter</item>
                <item xsi:type="object" name="between_filter">Maginium\Framework\Crud\Filters\Strategies\BetweenFilter</item>
                <item xsi:type="object" name="not_null_filter">Maginium\Framework\Crud\Filters\Strategies\NotNullFilter</item>
                <item xsi:type="object" name="contains_filter">Maginium\Framework\Crud\Filters\Strategies\ContainsFilter</item>
                <item xsi:type="object" name="ends_with_filter">Maginium\Framework\Crud\Filters\Strategies\EndsWithFilter</item>
                <item xsi:type="object" name="not_equal_filter">Maginium\Framework\Crud\Filters\Strategies\NotEqualFilter</item>
                <item xsi:type="object" name="less_than_filter">Maginium\Framework\Crud\Filters\Strategies\LessThanFilter</item>
                <item xsi:type="object" name="not_between_filter">Maginium\Framework\Crud\Filters\Strategies\NotBetweenFilter</item>
                <item xsi:type="object" name="starts_with_filter">Maginium\Framework\Crud\Filters\Strategies\StartsWithFilter</item>
                <item xsi:type="object" name="not_contains_filter">Maginium\Framework\Crud\Filters\Strategies\NotContainsFilter</item>
                <item xsi:type="object" name="greater_than_filter">Maginium\Framework\Crud\Filters\Strategies\GreaterThanFilter</item>
                <item xsi:type="object" name="less_or_equal_filter">Maginium\Framework\Crud\Filters\Strategies\LessOrEqualFilter</item>
                <item xsi:type="object" name="greater_or_equal_filter">Maginium\Framework\Crud\Filters\Strategies\GreaterOrEqualFilter</item>
                <item xsi:type="object" name="equal_case_sensitive_filter">Maginium\Framework\Crud\Filters\Strategies\EqualCaseSensitiveFilter</item>
                <item
                    xsi:type="object"
                    name="not_contains_sensitive_filter"
                >Maginium\Framework\Crud\Filters\Strategies\NotContainsSensitiveFilter</item>
                <item
                    xsi:type="object"
                    name="contains_case_sensitive_filter"
                >Maginium\Framework\Crud\Filters\Strategies\ContainsCaseSensitiveFilter</item>
                <item
                    xsi:type="object"
                    name="ends_with_case_sensitive_filter"
                >Maginium\Framework\Crud\Filters\Strategies\EndsWithCaseSensitiveFilter</item>
                <item
                    xsi:type="object"
                    name="starts_with_case_sensitive_filter"
                >Maginium\Framework\Crud\Filters\Strategies\StartsWithCaseSensitiveFilter</item>
            </argument>
        </arguments>
    </type>
</config>
